mixin title(title, descr, pageClass)
        title= title
        meta(name='description', content=descr)

mixin notion(notionClass)
        block notion
                .color-item__color-notion(class= notionClass)

mixin color(name='Default name', code='Default code')
        .color-item__color-name= name
        .color-item__color-name= code

mixin type-name(name='H1')
        .type-item__type-name= name

mixin type-desc(desc='Description')
        .type-item__type-desc= desc