mixin blockInput(input_text='Email', input_type='text')
    -inputCounter++
    input(
        type= input_type
        placeholder= input_text
        class= 'input ' + tmp_parent + '__input'
        name= tmp_parent + '-' + inputCounter
        autofocus!=attributes.autofocus
        
        )