mixin blockInput(blockInput={type:'text', text:'Email', value: '', mode:''}, blockInput_item={case:[]})
    -
      inputCounter++
      let blockInputName = 'blockInput';
      let blockInputClass = blockInputName + ' ' + tmp_parent + '__' + blockInputName;
      let markType = 'mark';
    if blockInput.mode
      -
        for(let i = 0; i < blockInput.mode.length && blockInput.mode.length !== undefined; i++ ) {
          blockInputClass += ' ' + tmp_parent + '__' + blockInputName + '_' + blockInput.mode[i];
          if(blockInput.mode[i] === 'dropdown') {
           markType = 'caret'; 
          } else if(blockInput.mode[i] === 'post') {
            markType = 'post'; 
          }
        } 
      form(class=blockInputClass)
        -tmp_parent = blockInputName
        input(
          type= blockInput.type
          placeholder= blockInput.text
          name= blockInputName + '-' + inputCounter
          autofocus!=attributes.autofocus
          value= blockInput.value
          disabled!=attributes.disabled
      )
        +blockWrap(markType)
        if markType == 'caret' 
          +blockWrap('list')
            include __item/blockInput__item
            each item in blockInput_item.case
                if item.unique
                    +blockInput__item(item)(value=item.title data_plural=item.data)
                else
                    +blockInput__item(item)(data_plural=item.data)
            +blockWrap('reset')
                +blockTitle({
                    selector: 'div',
                    text: 'очистить',
                    mode: ['darkShade050', 'montserratBold', 'uppercase']})
            +blockWrap('apply')
                +blockTitle({
                    selector: 'div',
                    text: 'применить',
                    mode: ['purple_BC9CFF', 'montserratBold', 'uppercase']})
            block
    else
      form(class='blockInput' + ' ' + tmp_parent + '__' + 'blockInput')
        input(
          type= blockInput.type
          placeholder= blockInput.text
          name= blockInputName + '-' + inputCounter
          autofocus!=attributes.autofocus
          value= blockInput.value
        )