mixin blockInput(input_text='Email', input_type='text')
    -tmp_parent = 'textField'
    -inputCounter++
    input(
        type= input_type
        placeholder= input_text
        class= 'input ' + tmp_parent + '__input'
        name= 'textField-' + inputCounter
        autofocus!=attributes.autofocus
        )